:root {
    --color-error: #FFAAA5;
    --color-success: #DCEDC1;
    --color-neutral: #F2E8CE;
    --color-bg: #F2E8CE;
    --color-fg: #F2E8CE;
    font-family: sans-serif;
}

#user-info {
    text-align: center;
    margin-top: 2em;
}

h1, h2 {
    text-align: center;
}

div#login-box, div#add-box, div.post-box {
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px;
    margin-top: 1em;
    overflow-wrap: break-word;
}

div#add-box {
    background: var(--color-neutral);
}

div#login-box div {
    margin-left: 100px;
    margin-right: 100px;
}

main {
    margin: auto;
    max-width: 600px;
}

.post-date {
    font-style: italic;
    color: #888
}

#login-box input {
    float: right;
}

input, button{
    border: 1px solid black;
    font-size: 1em;
}

textarea {
    width: 570px;
    display: block;
    resize: vertical;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 16px;
}

form#new-item {
    margin: 0;
}

input#value {
    width: 20%;
}

input#item {
    width: 65%;
}

button#add {
    display: block;
}

input:invalid {
    background-color: var(--color-error);
} 

input:placeholder-shown {
    background-color: white;
}

.message {
    border: 1px solid black;
    border-radius: 16px;
    background-color: var(--color-success);
    padding: 10px;
}

.error {
    background-color: var(--color-error);
}
